# For a complete list of core environment variables see
# https://docs.silverstripe.org/en/4/getting_started/environment_management/#core-environment-variables

# DB credentials
SS_DATABASE_CLASS="MySQLPDODatabase"
SS_DATABASE_SERVER="localhost"
SS_DATABASE_USERNAME="<user>"
SS_DATABASE_PASSWORD="<password>"
SS_DATABASE_NAME="<database>"

# Taken from the "Application ID" ; Azure AD => App Registrations => {App}
AZURE_CLIENT_ID=".............................."

# Create from Azure AD => App registrations => {App} => Settings => Keys
AZURE_CLIENT_SECRET="........................."

# From Azure AD => Properties => Directory ID
AZURE_TENANT_ID="....................."

#AZURE_OAUTH_CALLBACK='https://yourdomain/oauth/callback/'
AZURE_OAUTH_CALLBACK='...............................'

#JIRA self-hosted instance username
JIRA_USERNAME='................'
#API key for communicating with your instance
JIRA_API_KEY='.................'
#actual instance API endpoint
JIRA_ATLASSIAN_INSTANCE='https://xxxxxxxxxxxx.atlassian.net'
#project board name
JIRA_PROJECT_NAME='SDLT'

#if you have Sentry installed, supply it's DSN here
SENTRY_DSN='......................'
#SDLT sends a lot of email, you need to define an SMTP server to send mail
SDLT_SMTPMAIL_SERVER="smtp.example.com"
