# Build
.vagrant
.composer
chromedriver*
selenium-server*
TESTS_RUNNING.json
vagrant-host
/vm_build.log
LIGHTHOUSE_LASTRUN
CHANGELOG.md
.php_cs.cache

# IDE
.project
.idea
.settings
nbproject
.vscode

# Solr
.solr

# O/S
.DS_Store

# SSTeam
dashboard.json
.profile

/silverstripe-cache/
/.env
/vendor/
/themes/sdlt/
/_resources/
/resources/
/public/_resources/
/public/resources/


#docker
data
logs
composer.phar
