# Build
.vagrant
.composer
chromedriver*
selenium-server*
TESTS_RUNNING.json
vagrant-host
/vm_build.log
LIGHTHOUSE_LASTRUN
CHANGELOG.md
.php_cs.cache

# IDE
.project
.idea
.settings
nbproject
.vscode

# Solr
.solr

# O/S
.DS_Store

# SSTeam

# SilverStripe
# General
.env
_ss_environment.php
silverstripe-cache
assets
vendor

# Modules

advancedworkflow
comment-notifications
content-widget
cms
cwp*
docsviewer
documentconverter
externallinks
framework
fulltextsearch
gridfieldextensions
html5
hybridsessions
iframe
mimevalidator
multivaluefield
queuedjobs
registry
restfulserver
securityreport
secureassets
segment-field
selectupload
sortablegridfield
spellcheck
subsites
tagfield
tags
taxonomy
testsession
translatable
userforms
versionedfiles
versionfeed
blog
comments
lumberjack
samplecontent
sharedraftcontent
spamprotection
widgets
gridfield-bulk-editing-tools
backendmessages
betternavigator
controllerpolicy
display_logic
googlesitemaps
release-notifications
silverstripe-composer-security-checker
silverstripe-composer-update-checker
silverstripe-composer-versions
silverstripe-maintenance
crontask
reports
siteconfig
artifacts
sentry
docsviewer
betterbuttons
postgresql
themes/**/node_modules
campaign-admin
asset-admin
versioned
silverstripe-admin
silverstripe-assets
graphql
