/*Text Alignment*/
.typography .left, .typography .text-left {
  text-align: left
}

.typography .center, .typography .text-center {
  text-align: center
}

.typography .right, .typography .text-right {
  text-align: right
}

/*Image*/
.typography img {
  border: none;
  height: auto; /* resets the image height so that it maintains its aspect ratio when width is set */
}

.typography img.left {
  float: left;
  max-width: 50%;
  margin: 5px 20px 10px 0;
}

.typography img.right {
  float: right;
  max-width: 50%; /* Responsive width */
  margin: 5px 0 10px 20px;
}

.typography img.leftAlone {
  float: left;
  margin-right: 100%;
  margin-bottom: 10px;
  clear: both;
}

.typography img.rightAlone {
  float: right;
  margin-left: 100%;
  margin-bottom: 10px;
  clear: both;
}

.typography img.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
  clear: both;
}

/*Caption Image*/
.typography .captionImage {
  width: 100%;
  margin-top: 5px;
}

.typography .captionImage img {
  margin: 0;
}

.typography .captionImage.left {
  float: left;
  margin: 5px 30px 20px 0px;
}

.typography .captionImage.right {
  float: right;
  margin: 5px 0 20px 30px;
}

.typography .captionImage.left[style],
.typography .captionImage.right[style] {
  max-width: 50%; /* Overides core width to make responsive */
}

.typography .captionImage.left img,
.typography .captionImage.right img {
  float: none;
  max-width: none;
  width: 100%;
}

.typography .captionImage.left img {
  margin-right: -10px;
}

.typography .captionImage.right img {
  margin-left: -10px;
}

.typography .captionImage.leftAlone {
  float: left;
  clear: both;
  margin-right: 100%;
}

.typography .captionImage.rightAlone {
  float: right;
  clear: both;
  margin-left: 100%;
}

.typography .captionImage.center {
  margin: 0 auto 20px;
}

.typography .captionImage p {
  clear: both;
  margin: 5px 0;
  font-style: italic;
  color: #888;
}

.typography .captionImage p.caption.text-center {
  text-align: center;
}

.typography .captionImage p.caption.text-left {
  text-align: left;
}
