@import "../../variables";

.DarkButton {
    border: solid 2px $blue;
    background-color: $blue;
    padding: 10px 15px;

    .title {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.57;
        color: $white;
    }

    &:hover {
        border: solid 2px $orange;
        background-color: $orange;
    }
}
