@import "../../variables";

.LightButton {
    border: solid 2px $blue;
    background-color: $white;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    color: $blue;

    img {
        margin-right: 10px;
    }

    &:hover {
        color: $orange;
        border: solid 2px $orange;
    }
}
