@import "../../variables";
.tab-container {
  margin-bottom: 35px;

  .tab-button {
    position: relative;
    color: $blue;
    border: 2px solid $blue;
    border-radius: 10px;
    padding: 10px 30px;
    outline: none;
    background-color: $gray-200;
  }

  .active {
    background-color: $blue;
    color: $white;
    &:after {
      position: absolute;
      bottom: 0;
      content: "";
      width: 0;
      height: 0;
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-top: 16px solid $blue;
      left: 50%;
      bottom: -16px;
      margin-left: -12px;
    }
  }
}
