@import "../../variables";
$white-background: rgba(255, 255, 255, 0.7);

.ControlValidationAuditContainer {
  .ControlValidationAuditResult {
    max-width: map_get($container-max-widths, xl);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    margin-bottom: 1rem;
    padding: 20px;
  }
  .ControlValidationAuditForm {
    padding: 25px;
    background-color: $white-background;
  }
  .control-description {
    p:first-child {
      display: inline;
    }
    p, li, ul, a, h1, h2, h3, h4, h5, h6, pre {
      margin-bottom: 5px;
    }
  }

  label {
    margin-right: 10px;
    padding: 0;
  }
  h3{
    font-size: 28px;
    color: $blue;
    padding-bottom: 20px;
  }
  h4 {
    font-size: 22px;
    color: $blue;
    padding-bottom: 10px;
  }
  h5 {
    font-size: 16px;
    color: $blue;
  }
  label {
    font-size: 14px;
  }
  .realised{
    color: #008000;
  }
  .intended{
    color: #c46837;
  }
  .not-applicable {
    color: black;
  }
  .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      margin-top: 40px;

      div {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: stretch;
      }

      .BaseButton {
        margin-right: 16px;
      }
  }
}
