@import "../../variables";
$white-background: rgba(255, 255, 255, 0.7);

.ControlValidationAuditContainer {
  .ControlValidationAuditResult {
    max-width: map_get($container-max-widths, xl);
    margin-left: auto;
    margin-right: auto;
    background-color: $white-background;
    margin-bottom: 1rem;
    padding: 20px;
  }

  label {
    margin-right: 10px;
    padding: 0;
  }
  h3{
    font-size: 28px;
    color: $blue;
    padding-bottom: 20px;
  }
  h4 {
    font-size: 22px;
    color: $blue;
    padding-bottom: 10px;
  }
  h5 {
    font-size: 16px;
    color: $blue;
  }
  label {
    font-size: 14px;
  }
  .realised{
    color: #008000;
  }
  .intended{
    color: #c46837;
  }
  .not-applicable {
    color: black;
  }
}
