@import "../../variables";

.ComponentInfo {
  h3 {
    font-size: 16px;
    color: $blue;
    font-weight: 600;
    padding-top: 15px;

    button {
      background: transparent;
      border: none;
    }
  }

  .control-heading {
    font-size: 14px;
    font-weight: 600;
    padding: 0 0 0 30px;
  }

  p {
    font-size: 14px;
    padding-left: 30px;
  }
}
