@import "../../variables";

.ControlInfo {
  padding-left: 30px;
  .control-heading {
    font-size: 14px;
  }
  h5 {
    font-size: 14px;
    color: $blue;
    font-weight: 600;
  }
  p {
    font-size: 12px !important;
    padding-left: 0px !important;
  }
  .control-description-cs {
      p, li, ul, a, h1, h2, h3, h4, h5, h6, pre {
        margin-bottom: 5px;
      }
   }
}
