@import "../../variables";

.ControlInfo {
  .control-description {
    font-size: 14px;
    p:first-child {
      display: inline;
    }
  }

  .implementation-Guidance {
    font-size: 14px;
    .implementation-Guidance-title {
      text-align: left;
      padding: 0;
      cursor: pointer;
      display: inline;
    }
  }

  h5 {
    font-size: 14px;
    color: $blue;
    font-weight: 600;
    padding-top: 15px;
  }

  p {
    padding-left: 0px !important;
    font-size: 14px !important;
  }

  .control-description-cs {
      p, li, ul, a, h1, h2, h3, h4, h5, h6, pre {
        margin-bottom: 5px;
      }
   }
}

.control-cs {
  padding-left: 30px !important;
}
