@import "../../variables";

.LeftBarItem {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;

    img {
        margin-right: 2px;
        width: 14px;
        height: 14px;
    }

    i {
        font-size: 14px;
        margin-right: 2px;
    }

    i.current {
        color: $green;
    }

    i.success {
        color: $green;
    }

    i.not-applicable {
        color: #93c3e8;
    }

    i.pending {
        color: #b9b9b9;
    }

    .btn {
        background: $white;
        padding: 1px 2px;
        text-align: left;
        font-size: 14px;
        &:focus {
          box-shadow: none  !important;
        }
    }
}
