@import "../../variables";

.LeftBar {
    width: 277px;
    margin-right: 19px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 45px;
    padding-bottom: 35px !important;
    padding-left: 23px;

    .title,
    .product-aspect-label {
        font-size: 14px;
        font-weight: bold;
        color: $blue;
    }

    .product-aspect {
        padding-bottom: 15px;
    }

    .items, .children {
        width: 100%;
    }

    @import "LeftBarItem";
}
