@import "bootstrap";

body {
  background-color: #F2F4F7;
}

header {
  background-color: $blue;
}

footer {
  height: 50px;
  background-color: $blue;
  color: $white;
}

main {
  @import "./components/Home";
}
