.AnswersPreview {
    .questions {
        white-space: pre-line;

        .row {
            background-color: rgba(255, 255, 255, 0.7);
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 6px;
            padding: 20px;
            word-break: break-word;

            .col:first-child {
                padding-left: 0;
            }
        }

        .vertical-divider {
            width: 1px;
            background-color: #acacac;
            margin-top: -14px;
            margin-bottom: -14px;
        }
    }

}
