@import "../../variables";

.QuestionnaireContainer {
    .Questionnaire {
        margin-bottom: 80px;
    }
}

.Questionnaire {
    .major {
        max-width: map_get($container-max-widths, xl);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;

        @import "QuestionForm";
    }
}
.questionnaire-message {
    max-width: map_get($container-max-widths, xl);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
