@import "../../variables";

.TaskSubmissionContainer {

    .TaskSubmission {
        max-width: map_get($container-max-widths, xl);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }


    .Questionnaire {
        margin-bottom: 40px;
    }

    .AnswersPreview {
        margin-bottom: 40px;
    }

    .result {
        @extend .mx-0;
        background-color: rgba(255, 255, 255, 0.7);
        margin-bottom: 1rem;
        padding: 20px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;

        .BaseButton {
            margin-right: 16px;
        }
    }
}
