@import "../../variables";

a.Pillar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(255,255,255,0.7);
    padding-top: 30px;
    margin-top: 10px;
    flex: 1 1 8%;

    .icon {
        @extend .rounded-circle;
        height: 101px;
        width: 101px;
        margin-bottom: 28px;
        background-color: $blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #333333;
        text-transform: uppercase;
        padding-bottom: 5px;
        max-width: 100%;
    }

    &:hover {
        text-decoration: none;

        .icon {
            background-color: $orange;
        }
    }
}
