@import "../../variables";

.loading-spinner-page-overlay {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
}

.loading-spinner {
  position: absolute;
  font-size: 20px;
  top: 48%;
  left: 50%;
  margin-left: -40px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  .fa-spinner {
    font-size: 23px;
    position: relative;
    top: 1px;
  }
}
